<div>
  <ul class="nav nav-tabs" role="tablist">
    <% @games_navi.each do |game| %>
      <% if game.id == @game.id %>
        <li role="presentation" class="active">
      <% else %>
        <li role="presentation">
      <% end %>
            <%= link_to game.game_name, score_sheet_index_path(season_id:@game.season_id, game_id:game.id)%>
        </li>
    <% end %>
        <li>
          <%= link_to score_sheet_new_path(season_id:@game.season_id) do %>
            <span class="glyphicon glyphicon-plus-sign">Add</span>
          <% end %>
        </li>
  </ul>
</div>
